<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nem.pro.modules.sys.mapper.SysRoleDeptMapper">

    <select id="selectDept" resultType="com.nem.pro.modules.sys.domain.SysDept">
        select * from sys_dept
    </select>

    <select id="selectDeptByRoleId" resultType="com.nem.pro.modules.sys.domain.SysDept">
        select * from sys_dept sd
        left join sys_role_dept srd on srd.dept_id = sd.id
        where srd.role_id = #{roleId}
    </select>

    <select id="selectDeptByParentId" resultType="com.nem.pro.modules.sys.domain.SysDept">
        select * from sys_dept sd
        where parent = #{parentId}
    </select>

    <!-- 根据 Id 修改用户数据 -->
    <update id="updateById" parameterType="com.nem.pro.modules.sys.domain.SysDept">
        update sys_dept
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="address!=null and address!=''">
                address = #{address},
            </if>
            <if test="enable!=null and enable!=''">
                enable = #{enable},
            </if>
            <if test="sort!=null and sort!=''">
                sort = #{sort},
            </if>
            <if test="parent!=null and parent!=''">
                parent = #{parent},
            </if>
            <if test="updateBy!=null and updateBy!=''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime!=null and updateTime!=''">
                update_time = #{updateTime},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark}
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据 Id 删除数据 -->
    <delete id="deleteById" parameterType="string">
          delete from sys_dept where id = #{id}
    </delete>

    <!-- 根据 Id 批量删除数据 -->
    <delete id="deleteByIds" parameterType="string">
        delete from sys_dept where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.nem.pro.modules.sys.domain.SysDept">
        insert into sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="name!=null">
                name,
            </if>
            <if test="address!=null">
                address,
            </if>
            <if test="enable!=null">
                enable,
            </if>
            <if test="sort!=null">
                sort,
            </if>
            <if test="parent!=null">
                parent,
            </if>
            <if test="createBy!=null">
                create_by,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateBy!=null">
                update_by,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="deleted!=null">
                deleted,
            </if>
            <if test="remark!=null">
                remark,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="name!=null">
                #{name},
            </if>
            <if test="address!=null">
                #{address},
            </if>
            <if test="enable!=null">
                #{enable},
            </if>
            <if test="sort!=null">
                #{sort},
            </if>
            <if test="parent!=null">
                #{parent},
            </if>
            <if test="createBy!=null">
                #{createBy},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updateBy!=null">
                #{updateBy},
            </if>
            <if test="deleted!=null">
                #{deleted},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
        </trim>
    </insert>

</mapper>